<p>
  <ng-piao-liang-hanzi [chineseCharacters]="'这是你的书。'"></ng-piao-liang-hanzi>
</p>

<p>
  <ng-piao-liang-hanzi [chineseCharacters]="'那不是我  的 问题。'"></ng-piao-liang-hanzi>
</p>

<p>
  <ng-piao-liang-hanzi [chineseCharacters]="'那不是我'" [pinyin]="'ok second'"></ng-piao-liang-hanzi>
</p>

<p>
  <ng-piao-liang-hanzi [chineseCharacters]="'这是你的书。'"></ng-piao-liang-hanzi>
</p>

<p>
  <ng-piao-liang-hanzi [chineseCharacters]="'你好。'"></ng-piao-liang-hanzi>
</p>

<p>
  <ng-piao-liang-hanzi [chineseCharacters]="'Hello, 我是 Alexander。'"></ng-piao-liang-hanzi>
</p>

<p>
  <ng-piao-liang-hanzi [chineseCharacters]="'你好。'" [pinyin]="'Anylength isok'"></ng-piao-liang-hanzi>
</p>

<p>
  <ng-piao-liang-hanzi [chineseCharacters]="'你好。'" [pinyinWithNumber]="true"></ng-piao-liang-hanzi>
</p>

<p>
  <ng-piao-liang-hanzi [chineseCharacters]="'这是你的书。'" [pinyin]="'a   b'"></ng-piao-liang-hanzi>
</p>

<p>
  <ng-piao-liang-hanzi [chineseCharacters]="'这是你的书。'" [pinyin]="'a _ _ b'"></ng-piao-liang-hanzi>
</p>

<p>
  <ng-piao-liang-hanzi [chineseCharacters]="'是OK，马？'" [pinyin]="'shì O K shì'" [includeAlphabet]="true"></ng-piao-liang-hanzi>
</p>
